.editor-content {
    background-color: var(--el-fill-color-blank);
    width: 80%;
    height: 100%;
    overflow-y: auto;
    padding: 0 20px;
}

.tiptap{
    width: 100%;
    height: 100%;
}

.tiptap h1 {
    font-size: 2.2rem;
    margin: 1.5rem 0 1rem;
}

.tiptap h2 {
    font-size: 2rem;
    margin: 1.5rem 0 1rem;
}

.tiptap h3 {
    font-size: 1.8rem;
    margin: 1.5rem 0 1rem;
}

.tiptap h4 {
    font-size: 1.6rem;
    margin: 1.5rem 0 1rem;
}

.tiptap h5 {
    font-size: 1.4rem;
    margin: 1.5rem 0 1rem;
}

.tiptap h6 {
    font-size: 1.2rem;
    margin: 1.5rem 0 1rem;
}

.tiptap ul,ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
}

.tiptap ul,ol li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.tiptap p {
    font-size: 1rem;
    color: var(--el-text-color-regular);
}

.tiptap span {
    color: var(--el-text-color-regular);
}

.tiptap img {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.tiptap pre {
    background: #4c4c4d;
    border-radius: 0.5rem;
    color: #d1cdcd;
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;
}

.tiptap pre code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
}

.tiptap span.ProseMirror-selectednode img {
    outline: 3px solid #6880f8;
}

.tiptap .image-container {
    margin: 1.5rem 0;
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
}

.tiptap:focus {
    border: none !important;
    outline: none !important;
}

.tiptap table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
}
.tiptap td {
      border: 1px solid rgb(150, 149, 149);
      box-sizing: border-box;
      min-width: 1em;
      padding: 6px 8px;
      position: relative;
      vertical-align: top;
}

th {
    border: 1px solid rgba(150, 149, 149);
    box-sizing: border-box;
    min-width: 1em;
    padding: 6px 8px;
    position: relative;
    vertical-align: top;
    background-color: rgba(117, 120, 119, 0.436);
    font-weight: bold;
    text-align: left;
}

.selectedCell:after {
    background: rgba(51, 48, 201, 0.455);
    content: "";
    left: 0; right: 0; top: 0; bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
}

.column-resize-handle {
    background-color: rgb(61, 77, 142);
    bottom: -2px;
    pointer-events: none;
    position: absolute;
    right: -2px;
    top: 0;
    width: 4px;
}

.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
}
.tableWrapper {
margin: 1.5rem 0;
overflow-x: auto;
}